/* Notes: 
color: green !important; - the important will ensure it's respected above all other css
position: fixed (scrolls with content), absolute (stays in place), relative (moves relative to parent element), static (stays in place), sticky (scrolls, remains in relative position)
*/



/* Resetting the box to be a border box which will adjust the content inside the box so the height and width remain fixed */
* {
    box-sizing: border-box;
  }








p {
    color: green !important;
  }

  h1 {
    color: darkgreen;
  }












a:hover {
    color:darkorange;
  }

